body {font-family: "Segoe UI"}

.wd-follow-icon-format {
    max-width: 40px;
    max-height: 40px;
}
.wd-follow-icon-circle {
    border-radius: 50%;
}
.wd-post-image-format {
    width: 90px;
    height: 90px;
    object-fit: contain;
    padding: 0;
    margin: 0;
}
.wd-background-white {
    background: white;
}
.wd-background-clear {
    background: 0%;
}
.wd-overlay-format {
    font-size: 45px;
    color: rgb(37, 37, 37);
}
.wd-placeholder-format {
    text-indent: 50px;
}